/* Cand pui steluta ' * ' se aplica la tot ce este in html */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Marimea scrisului in general pe site (ca default/) */
/* Mai defineste si cat inseamna 1rem ex: 10px = 1rem */

html {
    font-size: 62.5%;
}

// body {
//     margin: 0;
//     padding: 0;
//     font-family: $poppins;
//     width: 100%;
// }

p,
ul {
    margin-bottom: 0 !important;
}

#main-content {
    // display: grid;
    // grid-template-columns: 1fr 10rem;
    // width: 90%;
    // margin: auto;
    margin-top: 26rem;
}

#main-section-content {
    // width: 100%;
}
