/* -- Go to Top Button -- */
.gotopbtn {
    display: none;
    position: fixed;
    width: 5rem;
    height: 5rem;
    background: $color-blue-dark;
    border-radius: 3rem;
    bottom: 9rem;
    right: 5rem;
    transition-duration: all 0.3s;
    transition-timing-function: all ease-in-out;
    transition-property: background-color, color;

    text-decoration: none;
    text-align: center;
    line-height: 5rem;
    color: $color-white;
    font-size: 2rem;
    z-index: 100;
}

.arrows-up {
    margin-top: 1.2rem;
}

.gotopbtn:hover,
.gotopbtn:focus {
    color: $color-white;
    background: darken($color-blue-dark, 10%);
    // border: .21rem solid $color-blue-dark2;
    filter: drop-shadow(0 .2rem .2rem $color-black-blue);
    transition: all .3s;
}
