/* #gradient-nav {
    height: 24rem;
    background-image: linear-gradient($color-purple2 -9%, $color-blue);
    border-radius: 0 0 100% 100%/0 0 48% 48%;
    z-index: -1;
} */

.header-main {
    // display: flex;
    // width: 90%;
    // height: 10vh;
    // margin: auto;
    // align-items: center;
    // position: absolute;
    // top: 10%;
    // left: 50%;
    // transform: translate(-50%, 10%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 24rem;
    background-image: linear-gradient(to bottom, rgba($color-purple2, .6) -9%, rgba($color-blue, 1)), url('/img/buildings-ny.jpg');
    background-position: top 37% left 0px;
    background-size: 100%;
    border-radius: 0 0 100% 100%/0 0 48% 48%;
    transition: height .4s ease;
    z-index: 999;
    box-shadow: 0rem .1rem .9rem .2rem #76809e;
}

.nav-ul-left,
.logoContainer,
.nav-ul-right {
    display: flex;
    font-family: $poppins;
}

.main-navLeft {
    // flex: 1;
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
}

.logoContainer {
    flex: 2;
    justify-content: center;
    transition: margin-top .4s ease-in-out;
}

.main-navRight {
    flex: 1;
    justify-content: flex-end;
}

.nav-ul-left,
.nav-ul-right {
    justify-content: space-around;
    list-style: none;
    flex: 1 1 20rem;
    transition: height .4s ease-in-out;
}

.nav-link {
    color: $color-white;
    font-size: 1.8rem;
    text-decoration: none;
    transition: font-size .4s ease-in-out;

    &:hover {
        color: darken($color-white, 10%);
    }
}

.navLogo {
    height: 30vh;
}

.navLogo23 {
    height: 30vh;
    margin-left: -3rem;
}

.logoImg {
    height: 100%;
    margin-left: -3rem;
    filter: drop-shadow(0 .3rem .5rem $color-black);
    animation: float 12s ease-in-out infinite;
    transition: height .4s ease-in-out;
}

.logoImg23 {
    height: 39%;
    // margin-left: -3rem;
    filter: drop-shadow(0 .3rem .5rem $color-black);
    animation: float23 10s ease-in-out infinite;
    transition: height .4s ease-in-out;
}

/* Stikcy Header NAVBAR on Scroll */
.main-header-small {
    height: 16rem;
}

.main-header-small .logoContainer {
    margin-top: 1rem;
}

.main-header-small .logoImg {
    height: 60%;
    filter: drop-shadow(0 .3rem .5rem $color-black);
    animation: none;
}

.main-header-small .logoImg23 {
    height: 28%;
    filter: drop-shadow(0 .3rem .5rem $color-black);
    animation: none;
}

.main-header-small .nav-ul-left {
    margin-top: -6rem;
}

.main-header-small .nav-ul-right {
    margin-top: -6rem;
}

.main-header-small .nav-link {
    font-size: $default-font-size;
}

/* NAV BURGER MENU */
.burger-nav {
    display: none;
}


// Animation Movement Logo CA
@keyframes float {
    0% {
        // filter: drop-shadow(0 .5rem 1.5rem 0rem $color-black);
        transform: translateY(0rem);
    }

    50% {
        // filter: drop-shadow(0 2.5rem 1.5rem 0rem $color-black);
        transform: translateY(-2.1rem);
    }

    100% {
        // filter: drop-shadow(0 .5rem 1.5rem 0rem $color-black);
        transform: translateY(0rem);
    }
}

// Animation Movement Logo 23
@keyframes float23 {
    0% {
        filter: drop-shadow(0 .5rem 1.5rem 0rem $color-black);
        transform: translateY(0rem);
    }

    50% {
        filter: drop-shadow(0 2.5rem 1.5rem 0rem $color-black);
        transform: translateY(-1.8rem);
    }

    100% {
        filter: drop-shadow(0 .5rem 1.5rem 0rem $color-black);
        transform: translateY(0rem);
    }
}

/* #main-header {
    margin: 0 auto;
}

#main-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

#main-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-top: -14rem;
    padding: 0;
    z-index: 10;
}

#main-nav .nav-link {
    font-size: $default-font-size;
    color: $color-white;
} */


/* .logoImg {
    width: 28rem;
}

.logoImg23 {
    width: 10rem;
    margin-left: 33rem;
    margin-top: -1.6rem;
}

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-60%);
    top: 1.2rem;
} */
