.empty-space-ads {
    background: $color-gray2;
    width: 60%;
    height: 10vh;
    position: absolute;
    visibility: visible;
    left: 50%;
    top: 83rem;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.text-adsense {
    color: $color-white;
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-space-ads2 {
    background: $color-gray2;
    width: 60%;
    height: 10vh;
    position: absolute;
    visibility: visible;
    left: 50%;
    top: 280rem;
    transform: translate(-50%, -50%);
    z-index: 300;
}

.text-adsense2 {
    color: $color-white;
    font-size: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
