#llc-business-main {
    height: 80vh;
    // margin-top: 14rem;
    background: linear-gradient($black-pearl, 10%, rgba($black-pearl, .8), transparent), url('/img/llc-business.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 60%;
    box-shadow: 0 1rem 1.4rem -.6rem $color-gray1;
}

.llc-business-container {}

.llc-business-wrapper {
    text-align: center;
}

.llc-business-heading {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: .3rem;
    color: $color-gray;
    // background: linear-gradient(to right, $color-gray1, $black-pearl);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    padding-top: 3rem;
    margin-bottom: 2rem;
    text-shadow: 0 .3rem .5rem $black-pearl;
}

.llc-img-container {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
}

.llc-img-wrapper {
    width: 20rem;
    filter: drop-shadow(0 .3rem .5rem $color-blue-dark2);
    transition: .4s ease-in-out;
    // margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.llc-img {
    width: 100%;
    transition: .4s ease-in-out;

    &:hover {
        transform: scale(1.1);
        // filter: drop-shadow(0 .5rem .7rem $color-aqua);
        transition: .4s ease-in-out;
    }
}

.llc-img-wrapper:hover .llc-business-btn {
    transform: none;
}

.llc-business-btn {
    font-size: 1.8rem;
    color: $color-gray;
    background: $matte-blue;
    padding: .6rem .8rem;
    margin: 5rem auto 0;
    width: 17rem;
    border-radius: 2.1rem;
    border: none;
    // margin-left: -36rem;
    transition: .3s ease;

    &:hover {
        background: darken($matte-blue, 10%);
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.3rem);
    }

    /* &:focus {
        outline: none;
    } */
}


.temple-state-hover {
    transition: .6s ease-in-out;
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
}

.temple-state-hover:hover .temple-img-wrapper {
    transition: .6s ease-in-out;
    transform: scale(.8);
    filter: drop-shadow(0 .5rem .7rem $black-pearl);
}

.state-img-wrapper {
    width: 56rem;
    filter: drop-shadow(0 .3rem .5rem $color-blue-dark2);
    transition: .6s ease-in-out;
    // margin-left: -6rem;
    opacity: .9;
}

.state-img {
    width: 100%;
}

/* Asa afectezi 2 clase cu una singura dai :hover la containerul principal urmat de clasa dorita dintre cele doua */
.temple-state-hover:hover .state-img-wrapper {
    // filter: drop-shadow(0 .5rem .7rem $color-aqua);
    transition: .6s ease-in-out;
    transform: scale(1.1);
}


.temple-img-wrapper {
    width: 12rem;
    position: absolute;
    left: 44%;
    margin-top: 5rem;
    filter: drop-shadow(0 .4rem .6rem $black-pearl);
    z-index: 3;
    transition: .6s ease-in-out;

}

.temple-img {
    width: 100%;
}

.state-business-btn {
    font-size: 1.8rem;
    color: $color-gray;
    background: $matte-blue;
    padding: .6rem .8rem;
    width: 17rem;
    border-radius: 2.1rem;
    border: none;
    // position: absolute;
    // left: 44.1%;
    margin: 5rem auto 0;
    transition: .3s ease;


    &:hover {
        background: darken($matte-blue, 10%);
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.3rem);
    }

    /* &:focus {
        outline: none;
    } */
}

.heading-state-title {
    font-size: 5.5rem;
    letter-spacing: .3rem;
    text-shadow: 0 .3rem .3rem $black-pearl;
    color: $color-gray;
    position: absolute;
    left: 44.7%;
    margin-top: 20rem;
}

.heading-state-title2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    text-shadow: 0 .3rem .3rem $black-pearl;
    color: $color-gray;
    position: absolute;
    left: 41.8%;
    margin-top: 27.2rem;
}

.heading-state-title3 {
    font-size: 2rem;
    letter-spacing: 1.6rem;
    text-shadow: 0 .3rem .3rem $black-pearl;
    color: $color-gray;
    position: absolute;
    left: 42.1%;
    margin-top: 32rem;
}

.money-img-wrapper {
    width: 20rem;
    filter: drop-shadow(0 .3rem .5rem $color-blue-dark2);
    transition: .4s ease-in-out;
    // margin-left: 8rem;
    display: flex;
    flex-direction: column;


}

.money-img {
    width: 100%;
    transition: .4s ease-in-out;

    &:hover {
        transform: scale(1.1);
        // filter: drop-shadow(0 .5rem .7rem $color-aqua);
        transition: .4s ease-in-out;
    }
}

.money-img-wrapper:hover .money-business-btn {
    transform: none;
}

// .llc-buttons-wrapper {
//     display: flex;
//     justify-content: space-around;
//     margin-top: -7rem;
//     position: relative;
//     z-index: 2;
// }


.money-business-btn {
    font-size: 1.8rem;
    color: $color-gray;
    background: $matte-blue;
    padding: .6rem 1.2rem;
    border-radius: 2.1rem;
    border: none;
    width: 17rem;
    transition: .3s ease;
    margin: 5rem auto 0;

    &:hover {
        background: darken($matte-blue, 10%);
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.3rem);
    }

    /* &:focus {
        outline: none;
    } */
}

.business-gradient-line {
    width: 100%;
    height: 33vh;
    background: linear-gradient(to top, $black-pearl, 80%, rgba($black-pearl, .6), transparent);
}
