#hosting-section {
    margin-top: 16rem;

}

.hosting-container {
    width: 60rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // background: url('/img/data-hosting.png'), url('/img/host.png'), url('/img/domain-host.png');
    // background-size: 20%, 22%, 16%;
    // background-position: 1% 60%, 53% 30%, 91% 10%;
    // background-repeat: no-repeat;
    position: relative;
    left: 20%;
    top: -6rem;
}

.hosting-heading {
    display: block;
    text-align: center;
    font-size: 5rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-gradient(linear, left top, right top, from($color-gray1), to($color-gray2));
    background: linear-gradient(to right, $color-gray1, $color-gray2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-sans-serif;
    position: absolute;
    left: 50%;
}

.hosting-and {
    text-align: center;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    background: -webkit-gradient(linear, left top, right top, from($color-gray1), to($color-gray2));
    background: linear-gradient(to right, $color-gray1, $color-gray2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-sans-serif;
    position: relative;
    left: 40%;
    top: 1rem;
    width: 6rem;
    margin: auto;
}

.hosting-heading2 {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: .26rem;
    font-weight: 400;
    background: -webkit-gradient(linear, left top, right top, from($color-gray1), to($color-gray2));
    background: linear-gradient(to right, $color-gray1, $color-gray2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: $font-family-sans-serif;
    position: absolute;
    left: 50%;
    top: 6rem;
}

.hosting-img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 6rem;
    /*     background: url('/img/fire.png');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: 40%; */
}

.wrapper-data-host-img {
    width: 22rem;
    position: relative;
    left: 3%;
    top: 6rem;
    -webkit-transition: .6s;
    transition: .6s;
    z-index: 3;

    &:hover {
        -webkit-transform: translateX(6%);
        transform: translateX(6%);
    }
}

.data-host-img {
    width: 100%;
    -webkit-filter: drop-shadow(0 .3rem .6rem $color-gray1);
    filter: drop-shadow(0 .3rem .6rem $color-gray1);

    &:hover {
        -webkit-filter: drop-shadow(0 .4rem .8rem $color-gray1);
        filter: drop-shadow(0 .4rem .8rem $color-gray1);
    }
}


.data-host-btn {
    font-size: 1.8rem;
    color: $color-gray;
    text-transform: uppercase;
    padding: .4rem 3.2rem;
    // width: 12rem;
    // height: 4rem;
    text-align: center;
    background: $matte-purple;
    position: relative;
    left: 26%;
    top: 9rem;
    border-radius: 2.1rem;
    border: none;
    transition: .3s ease-in-out;

    &:hover {
        color: $color-gray;
        background: $black-pearl;
    }

    &:focus {
        outline: none;
    }
}

.wrapper-host-img {
    width: 26rem;
    position: relative;
    left: 25%;
    top: 10rem;
    -webkit-transition: ease-in-out;
    transition: ease-in-out;
    -webkit-animation: host-img 8s linear infinite;
    animation: host-img 8s linear infinite;
    z-index: 3;
}

.host-img {
    width: 100%;
    -webkit-filter: drop-shadow(0 .3rem .6rem $color-gray1);
    filter: drop-shadow(0 .3rem .6rem $color-gray1);

    &:hover {
        -webkit-filter: drop-shadow(0 .3rem .8rem $color-gray1);
        filter: drop-shadow(0 .3rem .8rem $color-gray1);
    }
}

.host-btn {
    font-size: 1.8rem;
    color: $color-gray;
    text-transform: uppercase;
    padding: .4rem 3.2rem;
    // width: 12rem;
    // height: 4rem;
    text-align: center;
    background: $matte-purple;
    position: relative;
    left: 14%;
    top: 9rem;
    border-radius: 2.1rem;
    border: none;
    transition: .3s ease-in-out;

    &:hover {
        color: $color-gray;
        background: $black-pearl;
    }

    &:focus {
        outline: none;
    }
}

.wrapper-domain-host-img {
    width: 20rem;
    position: relative;
    left: 44%;
    top: 8rem;
    -webkit-transition: .6s;
    transition: .6s;
    z-index: 3;

    &:hover {
        -webkit-transform: translateX(-6%);
        transform: translateX(-6%);
    }
}

.domain-host-img {
    width: 100%;
    -webkit-filter: drop-shadow(0 .3rem .6rem $color-gray1);
    filter: drop-shadow(0 .3rem .6rem $color-gray1);

    &:hover {
        -webkit-filter: drop-shadow(0 .4rem .8rem $color-gray1);
        filter: drop-shadow(0 .4rem .8rem $color-gray1);
    }
}

.domain-host-btn {
    font-size: 1.8rem;
    color: $color-gray;
    text-transform: uppercase;
    padding: .4rem 3.2rem;
    // width: 12rem;
    // height: 4rem;
    text-align: center;
    background: $matte-purple;
    position: relative;
    left: 21%;
    top: 9rem;
    border-radius: 2.1rem;
    border: none;
    transition: .3s ease-in-out;

    &:hover {
        color: $color-gray;
        background: $black-pearl;
    }

    &:focus {
        outline: none;
    }
}

.host-title {
    display: none;
}


// Background Wires HOSTING
.domain-bg-wire {
    position: relative;
    left: -1.4rem;
    top: -16rem;
    overflow: hidden;
    z-index: -1;

}

.domain-bg-wire-img {
    width: 100.5%;
    height: 35rem;
}


// Floating Animation Host Img
@-webkit-keyframes host-img {
    from {
        -webkit-transform: rotate(0deg) translate(-1.6rem) rotate(0deg);
        transform: rotate(0deg) translate(-1.6rem) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translate(-1.6rem) rotate(-360deg);
        transform: rotate(360deg) translate(-1.6rem) rotate(-360deg);
    }
}

@keyframes host-img {
    from {
        -webkit-transform: rotate(0deg) translate(-1.6rem) rotate(0deg);
        transform: rotate(0deg) translate(-1.6rem) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translate(-1.6rem) rotate(-360deg);
        transform: rotate(360deg) translate(-1.6rem) rotate(-360deg);
    }
}
