#our-team-main {
    // margin-top: 30rem;
}

.our-team-container {
    background: linear-gradient($black-pearl, rgba($black-pearl, .5), transparent), url('/img/our-team.jpg');
    background-position: 0% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    // -webkit-box-shadow: 0 1rem 1rem $color-gray1;
    // box-shadow: 0 1rem 1rem $color-gray1;
}

.wrapper-heading {
    margin-left: 6rem;
}

.our-team-heading {
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: .6rem;
    text-transform: uppercase;
    font-family: $font3;
    color: $color-white;
    padding-top: 6rem;
    text-shadow: 0 .4rem .4rem $color-black;
}

.our-team-line {
    width: 12rem;
    height: .4rem;
    background: $color-white;
    border-radius: 1.2rem;
    margin-left: 6rem;
    margin-top: 1.2rem;
}

.our-team-description-wrapper {
    margin-left: 6rem;
    margin-top: 3rem;
    width: 26rem;
    background: rgba($color-blue, .7);
    border-radius: 1.6rem;
    padding: 1.2rem 1.4rem;

}

.our-team-description {
    font-size: 1.9rem;
    font-weight: 400;
    color: $black-pearl;
}

.team-city-img-wrapper {
    width: 19rem;
    position: relative;
    left: 76%;
    top: -26rem;
    z-index: 2;
}

.team-city-img {
    width: 100%;
    // height: 100%;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;

    &:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

.team-moon-img-wrapper {
    width: 8rem;
    position: relative;
    left: 88%;
    top: -44rem;
}

.team-moon-img {
    width: 100%;
    -webkit-animation: moon-movement 8s linear infinite;
    animation: moon-movement 8s linear infinite;
}

.our-team-btn-wrapper {
    text-align: center;
    margin-top: -8rem;
    z-index: 3 !important;
    position: relative;
}

.our-team-btn {
    display: flex;
    justify-content: center;
    width: 14rem;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    background: $matte-blue2;
    padding: .8rem 1.6rem;
    border-radius: 2.1rem;
    outline: none;
    border: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        color: $color-white;
        background: darken($matte-blue2, 10%);
        border: none;
        font-weight: 500;
        outline: none;
        -webkit-box-shadow: 0 .3rem .5rem $color-black;
        box-shadow: 0 .3rem .5rem $color-black;
        transform: translateY(-.2rem);
        transition: all .3s ease-in-out;
    }

    &:focus {
        outline: none;
    }
}

.ourteam-gradient-line {
    width: 100%;
    height: 33vh;
    background: linear-gradient(to top, $black-pearl, 30%, rgba($black-pearl, .6), transparent);
    margin-top: -22.5rem;
}


// Moon Movement Animation Our Team
@keyframes moon-movement {
    from {
        -webkit-transform: rotate(0deg) translate(-.6rem) rotate(0deg);
        transform: rotate(0deg) translate(-.6rem) rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
        transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
    }
}
