/* Medium Devices, Desktops */

/* NAV BAR */
@media only screen and (max-width : 999px) {
    #main-header {}
}

@media only screen and (max-width : 992px) {

    // Welcome Section 992px
    .bubble-yellow-wrapper {
        width: 26rem;
        margin-right: 16rem;
    }

    .bubble-yellow-wrapper2 {
        right: 35%;
        top: 67rem;
    }

    .bubble-yellow-wrapper3 {
        right: 38%;
        top: 70rem;
    }

    .bubble-blue-wrapper {
        width: 26rem;

    }

    .bubble-blue-wrapper2 {
        right: 36%;
        top: 63rem;
    }

    .bubble-blue-wrapper3 {
        right: 39%;
        top: 61rem;
    }

    // Projects Section 992px
    .introContainer-img {
        grid-template-columns: 1fr 1fr;
        margin-left: 3rem;
    }

    // Projects Section 2 992px
    .introContainer2-img {
        grid-template-columns: 1fr 1fr;
        margin-left: 3rem;
    }

    //App Section 992px
    .modal-bg-app {
        top: 176rem;
    }

    .heading-title-app {
        font-size: 4.6rem;
    }

    .app-img-resp-container {
        display: flex;
        width: 80%;
        margin: 6rem auto 3rem;
    }

    .sign-up-wrapper {
        width: 18rem;
        margin: 1.2rem;
    }

    .sign-up-img {
        width: 100%;
    }

    .sign-up-form-wrapper {
        width: 19rem;
        margin: -2rem 2rem;
    }

    .sign-up-form-img {
        width: 100%;
    }

    .login-app-wrapper {
        width: 18rem;
        margin: 1.2rem;
    }

    .login-app-img {
        width: 100%;
    }

    /* DISPLAY None Phone Container */
    .phone-container {
        display: none;
    }

    #bm {
        margin: 0;
        display: none;
    }

    .waves {
        width: 30rem;
        transform: translateX(30%);
        margin: auto;
        display: none;
    }

    .phone-stand {
        width: 100%;
        margin-left: -10.5rem;
        margin-top: -2rem;
        display: none;
    }

    .lines,
    .plasa {
        display: none;
    }

    /* END Display None Phone Container */


    // Hosting Section 992px
    .hosting-container {
        width: 43rem;
        left: 20%;
        top: -2rem;
    }

    .hosting-and {
        left: 58%;
    }

    .hosting-heading2 {
        font-size: 3rem;
        letter-spacing: .22rem;
    }

    .wrapper-data-host-img {
        width: 20rem;
        position: relative;
        left: 2%;
    }

    .wrapper-host-img {
        width: 23rem;
        position: relative;
        left: 18%;
        top: 10rem;
    }

    .host-btn {
        left: -1%;
    }

    .wrapper-domain-host-img {
        width: 18rem;
        left: 19%;
    }

    //ADS Section 992px
    .wrapper-heading-ads {
        left: 59%;
    }

    .heading-ads {
        font-size: 4.6rem;
        margin: 3rem auto;
    }

    .heading-ads-line {
        margin-left: 9rem;
    }

    .wrapper-description-ads {
        width: 38rem;
    }

    .description-ads {
        font-weight: 300;
    }

    .wrapper-fb-ads {
        width: 10rem;
    }

    .wrapper-insta-ads {
        width: 10rem;
    }

    .wrapper-twitter-ads {
        width: 9rem;
    }

    .wrapper-youtube-ads {
        width: 14.5rem;
    }

    .wrapper-google-ads {
        width: 10.2rem;
        top: -36%;
    }

    // Price Cards Section 992px
    .titlePrice1 {
        left: 19.6%;
    }

    .titleRows1,
    .titleRows2 {
        left: 20.5%;
    }

    .titleRows3 {
        left: 17.5%;
    }

    .headingCard-title {
        left: 20.7%;
    }

    .titlePrice2 {
        left: 19%;
    }

    .titleRows4 {
        left: 19%;
    }

    .titleRows5 {
        left: 13%;
    }

    .titleRows6 {
        left: 16.5%;
    }

    .headingCard2-title {
        right: 13.5%;
    }

    // LLC Business Section 992px
    .llc-img-wrapper {
        width: 17rem;
    }

    .temple-img-wrapper {
        width: 9rem;
        left: 44.5%;
    }

    .state-img-wrapper {
        width: 48rem;
    }

    .heading-state-title {
        font-size: 5rem;
        margin-top: -14rem;
    }

    .heading-state-title2 {
        left: 39.8%;
    }

    .heading-state-title3 {
        left: 40.1%;
    }

    .money-img-wrapper {
        width: 17rem;
    }

    .llc-buttons-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .llc-business-btn {
        margin-left: -56rem;
    }

    .money-business-btn {
        margin-right: -58rem;
    }

    .state-business-btn {
        left: 43.1%;
    }

    // MANAGERS TEAM Section 992px
    .managers-heading {
        font-size: 6rem;
    }

    .manager-left-img {
        height: 18rem;
        width: 18rem;
        border: .8rem solid $color-gray;
        top: -40rem;
    }

    .manager-left-btn {
        left: 12%;
        top: -10rem;
    }

    .manager-right-img {
        height: 18rem;
        width: 18rem;
        border: .8rem solid $color-gray;
        top: -40rem;
    }

    .manager-right-btn {
        right: 12%;
        top: -10rem;
    }

    // OUR TEAM Section 992px
    .our-team-heading {
        font-size: 6rem;
    }

    .rectangle-our-team {
        left: 1.2%;
        top: -130%;
        width: 97.3%;
    }

    //FOOTER Section 992px
    .footer-p-copyright {
        left: 40%;
    }

    .footer-list2 {
        margin-right: 12rem;
    }
}
