/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    // Section PROJECTS Web Sites
    .introWrapper {
        display: flex;
        flex-direction: column;
    }

    .heading_intro {
        text-align: center;
    }

    .introContainer-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .breaking-line-projects {
        display: none;
    }

    //Section INTRO Apps
    #header-intro {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .heading-title-app {
        font-size: 3.6rem;
        text-align: center;
        margin-top: 8rem;
        display: flex;
        justify-content: center;
    }

    .cta {
        display: flex;
        text-align: center;
    }

    .cta-More {
        margin: auto;
    }

    .cta-App {
        margin: auto;
    }

    .app-img-resp-container {
        display: flex;
        width: 90%;
        margin: 10rem auto 3rem;
    }

    // Empty Space AdSense Google ADS
    .empty-space-ads2 {
        top: 254rem;
    }

    // Section HOSTING
    #hosting-section {
        margin-top: 16rem;
        display: flex;
        flex-direction: column;
    }

    .hosting-container {
        text-align: center;
        margin: auto;
        position: relative;
        left: 0;
        top: -9.4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .hosting-heading {
        margin: 0;
        position: static;
    }

    .hosting-and {
        position: static;
        margin-top: -5rem;
        margin-left: 33rem;
    }

    .hosting-heading2 {
        margin: .6rem auto;
        position: static;
    }

    .hosting-img-container {
        display: block;
        margin: -6rem auto;
    }

    .wrapper-data-host-img,
    .wrapper-host-img,
    .wrapper-domain-host-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4rem auto;
    }

    // Section  ADS 
    #section-ads {
        width: 100vw;
        margin-top: 6rem;
    }

    .container-ads {
        display: flex;
        flex-direction: column;
        width: 100%;
        order: 0;
    }

    .container-heading-ads {
        padding-left: 0;
        order: 0;
    }

    .wrapper-description-ads {
        width: 41rem;
        margin: 3rem auto;
    }

    .ads-gradient-line {
        order: 0;
        width: 100%;
        height: 23vh;
        background: linear-gradient(to top, $black-pearl, 60%, rgba($matte-blue, .6), transparent);
        margin-top: -5rem;
    }

    // Section PRICE CARDS
    .purpleShape-card,
    .blueShape-card {
        width: 48%;
    }

    .titlePrice1 {
        font-size: 3rem;
        margin-top: -36rem;
        position: absolute;
        left: 42%;
    }

    .blueRow1,
    .blueRow2,
    .blueRow3,
    .purpleRow1,
    .purpleRow2,
    .purpleRow3 {
        width: 21rem;
        margin: 2.4rem 0;
    }

    .cardRows1 {
        margin-top: -25.5rem;
    }

    .titlePrice2 {
        font-size: 3rem;
        margin-top: -36rem;
        position: absolute;
        left: 40.5%;
    }

    .titleRows1,
    .titleRows2,
    .titleRows3,
    .titleRows4,
    .titleRows5,
    .titleRows6 {
        font-size: $default-font-size;
        margin-top: -6rem;
    }

    // Section LLC BUSINESS 
    .llc-business-heading {
        font-size: 4rem;
        padding-top: 4rem;
    }

    .llc-img-container {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        flex-wrap: wrap;
    }

    .llc-img-wrapper {
        width: 15rem;
        margin-top: -3rem;
    }

    .temple-img-wrapper {
        width: 5rem;
        left: 60%;
        margin-top: 3rem;
    }

    .state-img-wrapper {
        width: 27rem;
    }

    .money-img-wrapper {
        width: 13rem;
        margin-top: 3rem;
    }

    .heading-state-title {
        font-size: 2.5rem;
        left: 60%;
        margin-top: 9rem;
    }

    .heading-state-title2 {
        font-size: 2rem;
        left: 54.5%;
        margin-top: 12.2rem;
    }

    .heading-state-title3 {
        font-size: 1.4rem;
        letter-spacing: .9rem;
        left: 53.5%;
        margin-top: 15rem;
    }

    .llc-business-btn {
        font-size: 1.8rem;
        padding: 0.6rem 3rem;
        width: auto;

    }

    .state-business-btn {
        font-size: 1.8rem;
        padding: .6rem 1.2rem;
        width: 14rem;
    }

    .money-business-btn {
        font-size: 1.8rem;
        padding: 0.6rem 1.2rem;
        width: auto;
    }

    .business-gradient-line {
        height: 40vh;
        margin-top: -12rem;
    }

    // Section MANAGERS TEAM 
    .managers-img-container {
        margin-top: -11rem;
        flex-wrap: wrap;
    }

    .managers-img-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .manager-left-img,
    .manager-right-img {
        height: 18rem;
        width: 18rem;

        &:hover {
            transform: none;
        }
    }

    // Section OUR TEAM
    .team-city-img-wrapper {
        left: 63%;
        width: 14rem;
        position: relative;
        top: -20rem;
    }

    .team-moon-img-wrapper {
        width: 6rem;
        position: relative;
        left: 78%;
        top: -39rem;
    }

    .team-city-img {

        &:hover {
            transform: none;
        }
    }

    .ourteam-gradient-line {
        margin-top: -25.5rem;
        position: relative;
        top: 4rem;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}
