 #section-welcome {
     height: 40rem;
     width: 90%;
     margin: auto;
 }

 .heading-welcome-wrapper {
     display: block;
     text-align: center;
 }

 .heading-welcome-first {
     font-size: 6rem;
     font-weight: 500;
     text-transform: uppercase;
     letter-spacing: 2.1rem;
     color: transparent;
     background: -webkit-gradient(linear, left top, right top, from($matte-blue2), to($black-pearl));
     background: linear-gradient(to bottom, $color-blue3, $color-blue5);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-top: 6rem;
     margin-bottom: -1rem;
     padding-top: 9rem;
     text-shadow: .1rem .1rem .3rem $color-blue;
 }

 .heading-welcome-first2 {
     font-size: 2.5rem;
     font-weight: 500;
     font-family: 'Playfair Display', serif;
     letter-spacing: 4.8rem;
     background: -webkit-gradient(linear, left top, right top, from($color-aqua), to($black-pearl));
     background: linear-gradient(to right, $color-blue1, $color-blue2);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 1rem;
     margin-left: 3rem;
     padding-top: 2rem;
     //  text-shadow: 0 .2rem .35rem $color-gray4;
 }

 .heading-welcome-second {
     font-size: 2rem;
     font-weight: 400;
     background: -webkit-gradient(linear, left top, right top, from($color-gray1), to($black-pearl));
     background: linear-gradient(to right, $color-gray2, $color-gray2);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-top: 3rem;
     margin-bottom: 1rem;
 }

 .heading-welcome-third {
     font-size: 1rem;
     font-weight: 500;
     background: -webkit-gradient(linear, left top, right top, from($color-gray1), to($color-gray2));
     background: linear-gradient(to right, $color-gray-dark, $color-gray-dark);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 3rem;
     text-transform: uppercase;
 }

 .bubbles-container {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     margin-top: -16rem;
     position: relative;
     z-index: -1;
 }

 // Bubble YELLOW
 .bubble-yellow-wrapper {
     width: 30rem;
 }

 .bubble-yellow-wrapper2 {
     width: 2.6rem;
     position: absolute;
     left: 36%;
     top: 34rem;
     -webkit-animation: bubble-yellow2 8s linear infinite;
     animation: bubble-yellow2 8s linear infinite;
 }

 .bubble-yellow-wrapper3 {
     width: 1.3rem;
     position: absolute;
     left: 38%;
     top: 32rem;
     -webkit-animation: bubble-yellow3 6s linear infinite;
     animation: bubble-yellow3 6s linear infinite;
 }

 .bubble-yellow {
     width: 100%;
 }

 .bubble-yellow2 {
     width: 100%;
 }

 .bubble-yellow3 {
     width: 100%;
 }

 // Bubble BLUE
 .bubble-blue-wrapper {
     width: 30rem;
 }

 .bubble-blue-wrapper2 {
     width: 2.6rem;
     position: absolute;
     right: 38%;
     top: 28rem;
     -webkit-animation: bubble-blue2 8s linear infinite;
     animation: bubble-blue2 8s linear infinite;
 }

 .bubble-blue-wrapper3 {
     width: 1.3rem;
     position: absolute;
     right: 40%;
     top: 25rem;
     -webkit-animation: bubble-blue3 6s linear infinite;
     animation: bubble-blue3 6s linear infinite;
 }

 .bubble-blue {
     width: 100%;
 }

 .bubble-blue2 {
     width: 100%;
 }

 .bubble-blue3 {
     width: 100%;
 }


 @-webkit-keyframes bubble-yellow2 {
     from {
         -webkit-transform: rotate(0deg) translate(-.6rem) rotate(0deg);
         transform: rotate(0deg) translate(-.6rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
     }
 }


 @keyframes bubble-yellow2 {
     from {
         -webkit-transform: rotate(0deg) translate(-.6rem) rotate(0deg);
         transform: rotate(0deg) translate(-.6rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
     }
 }

 @-webkit-keyframes bubble-yellow3 {
     from {
         -webkit-transform: rotate(0deg) translate(-.4rem) rotate(0deg);
         transform: rotate(0deg) translate(-.4rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
     }
 }

 @keyframes bubble-yellow3 {
     from {
         -webkit-transform: rotate(0deg) translate(-.4rem) rotate(0deg);
         transform: rotate(0deg) translate(-.4rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
     }
 }

 @-webkit-keyframes bubble-blue2 {
     from {
         -webkit-transform: rotate(0deg) translate(-.6rem) rotate(0deg);
         transform: rotate(0deg) translate(-.6rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
     }
 }

 @keyframes bubble-blue2 {
     from {
         -webkit-transform: rotate(0deg) translate(-.6rem) rotate(0deg);
         transform: rotate(0deg) translate(-.6rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.6rem) rotate(-360deg);
     }
 }

 @-webkit-keyframes bubble-blue3 {
     from {
         -webkit-transform: rotate(0deg) translate(-.4rem) rotate(0deg);
         transform: rotate(0deg) translate(-.4rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
     }
 }

 @keyframes bubble-blue3 {
     from {
         -webkit-transform: rotate(0deg) translate(-.4rem) rotate(0deg);
         transform: rotate(0deg) translate(-.4rem) rotate(0deg);
     }

     to {
         -webkit-transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
         transform: rotate(360deg) translate(-.4rem) rotate(-360deg);
     }
 }
